﻿.titleSize{
    font-size: 250%;
}
.medium-size{
    font-size: 150%;
}
.small-size{
     font-size: 80%;
}
body{
    color: black !important;
}
.general{
    display: inline-block;
}
.topic-color{
    color: #4e73df;
}
.p-l-2{
    padding-left: 2%;
}